<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit car</title>
</head>
<body>

<form name="car" action="/SpringProject_war/updateCar" method="post">
    <p>id</p>
    <input title="id" type="text" name = "id" value="${car.id}" readonly>
    <p>Model</p>
    <input title="model" type="text" name = "model" value="${car.model}">
    <p>Color</p>
    <input title="color" type="text" name = "color" value="${car.color}">
    <p>user id</p>
    <input title="userid" type="text" name = "userid" value="${car.userid}">
    <input type="submit" value="add">
</form>

</body>
</html>