<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form name="user" action="/SpringProject_war/updateUser" method="post">
    <p>id</p>
    <input title="ID" type="text" name = "ID" value="${user.ID}" readonly>
    <p>Name</p>
    <input title="Name" type="text" name = "username" value="${user.username}">
    <p>Email</p>
    <input title="Email" type="text" name = "email" value="${user.email}">
    <p>Age</p>
    <input title="Age" type="text" name = "age" value="${user.age}">
    <input type="submit" value="add">
</form>

</body>
</html>